<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hashhackers" version="0.1.0">
  <name>Hash Hackers</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="35890959+ParveenBhadooOfficial@users.noreply.github.com">
    Parveen Bhadoo
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
